.page-header {
  background-image: linear-gradient(to bottom right, #4338ca, #0f766e);
  color: #f1f5f9;
  height: 4rem;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.page-header nav {
  display: none;
}

.page-header p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: .05em;
  font-weight: bold;
}

.nav-link {
  cursor: pointer;
  margin: 0 1.5rem;
}

.nav-link:hover {
  color: #c7d2fe;
}

@media (min-width: 768px) {
  .page-header nav {
    display: initial;
  }
}

@media (min-width: 1024px) {
  .page-header {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}